/* Base stylesheet for all pages */

/*------- Root Colors --------*/
:root {
    --txt-color: #ffffff;
    --link-color: #a7e8bd;
    --bg-color: #fcbcb8;
    --header-color: #56cbf9;
    --button-color: #137023; 
    }

* {
    box-sizing: border-box;
}

body {
    min-width: 400px;
    height: 100vh;
    margin: 0 auto;
    color: #000;
}

.content-wrapper{
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgb(255, 223, 221), rgb(252, 174, 167), rgb(255, 127, 118));
}