/* Base stylesheet for all pages */

* {
    box-sizing: border-box;
}

body {
    min-width: 400px;
    height: 100vh;
    margin: 0 auto;
    color: #ffffff;
}

.content-wrapper{
    background: linear-gradient(to bottom right, rgb(252, 188, 184), rgb(197, 124, 118), rgb(146, 73, 68));
}