.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #37323E;
    /* height: 36.5em; */
    border-bottom: solid #EAEAEA 2px;
}

.title-wrapper {
    font-family: 'News Cycle', sans-serif;
    border-bottom: solid #EAEAEA 2px;
    text-align: center;
    /* height: 15em; */
}

.title-wrapper h1 {
font-size: 8rem;
margin: 1%;
}

.title-wrapper h6 {
font-size: 3rem;
margin-bottom: 2%;
}

.sidebar {
    text-align: center;
}

.navbar li {
    display: inline-block;
    font-size: 2rem;
    padding: 3% 8%;
}

.navbar a {
    color: #EAEAEA;
    font-weight: bold;
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.social li {
    display: inline-block;
    font-size: 3rem;
    padding: 4% 8%;
}
.social a {
    color: #EAEAEA;
}

.article-view-wrapper {
    margin-top: 20vh;
}