<!-- About us page -->
<!DOCTYPE html>
<html lang="en-us">
  <head>

    <%- include('../layout/head') %>
  </head>
<body>
  <header>

    <%- include('../layout/header') %>
    
  </header>
  <main class="article-view-wrapper">
    <article class="article-listing-wrapper">
        <img class="article-image" src="" />
        <div class="article-words-wrapper">
            <h2>Matthew Barnhart</h2>
            <div class="article-author-source-wrapper">
                <h3>Digital Marketer and Software Developer</h3>
                <h4>Cedar Rapids, IA</h4>
            </div>
                <p>
                    Matt has a decade of eperiene manafing people and serving his community thoughtful and enjoyable experiences. He also enjoys coffee, cooking, and connecting with people. He aspires to making positive changes in his community by supporting people to the best of his abilities!
                </p>
        </div>
    </article>

    <article class="article-listing-wrapper">
        <img class="article-image" src="" />
        <div class="article-words-wrapper">
            <h2>Chase Nickels</h2>
            <div class="article-author-source-wrapper">
                <h3>Software Developer</h3>
                <h4>WI</h4>
            </div>
                <p>
                    Chase is a laid back individual with an unappeasable wanderlust. He loves mountains and large bodies of water, as well as music in the park and dancing in the rain. He grew up in a small town in northern Wisconsin. Software development, he believes, is a stepping stone towards growing within an ever changing industry and world.
                </p>
        </div>
    </article>

    <article class="article-listing-wrapper">
        <img class="article-image" src="" />
        <div class="article-words-wrapper">
            <h2>Stacie Teltser</h2>
            <div class="article-author-source-wrapper">
                <h3>Software Developer</h3>
                <h4>North Liberty, IA</h4>
            </div>
                <p>

                </p>
        </div>
    </article>
    
  </main>
  <footer>

    <%- include('../layout/footer') %>

  </footer>
</body>
</html>