<!-- Header Partial -->
<div class="header-wrapper">

    <div class="title-wrapper">
        <img class="header-img" src="../images/happy-times-kittens.png" />
        <h1>The Happy Times</h1>
        <h6>Your News, Right Meow</h6>
    </div>

    <div class="sidebar">
        <nav class="navbar">
            <ul>
                <a class="grow" href="/"><li>The Scratching Post</li></a>
                <a class="grow" href="/catalog"><li>Catalog</li></a>
                <a class="grow" href="/about"><li>About Us</li></a>
            </ul>
        </nav>


        <ul class="social">
            <a class="grow" href="https://www.facebook.com" target="_blank"><li><i class="fab fa-facebook-f fa-lg" alt="Facebook"></i></li></a>
            <a class="grow" href="https://www.instagram.com" target="_blank"><li><i class="fab fa-instagram fa-lg" alt="Instagram"></i></li></a>
            <a class="grow" href="https://www.twitter.com" target="_blank"><li><i class="fab fa-twitter fa-lg" alt="Twitter"></i></li></a>
            <a class="grow" href="https://www.reddit.com" target="_blank"><li><i class="fab fa-reddit-alien fa-lg" alt="Reddit"></i></li></a>
            <a class="grow" href="https://www.tumblr.com" target="_blank"><li><i class="fab fa-tumblr fa-lg" alt="Tumblr"></i></li></a>
        </ul>
    </div>    
</div>
<div class="spacer">
    &nbsp;
</div>