<!-- Header Partial -->
<div class="content-wrapper">
    <h1>The Happy Times</h1>
    <h6>Your News, Right Meow</h6>
</div>

<div class="sidebar">
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">The Scratching Post</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </nav>

    <ul class="social">
        <!-- <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>></li> -->
        <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i>
        <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>></li>
        <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.reddit.com" target="_blank"><i class="fab fa-reddit-alien"></i></a></li>
        <li><a href="https://www.tumblr.com" target="_blank"><i class="fab fa-tumblr"></i></a></li>
    </ul>
</div>