<!-- Header Partial -->
<div class="header-wrapper">

    <div class="title-wrapper">
        <img class="header-img" src="../images/happy-times-kittens.png" />
        <h1>The Happy Times</h1>
        <h6>Your News, Right Meow</h6>
    </div>

    <div class="sidebar">
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/catalog">The Scratching Post</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>


        <ul class="social">
            <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f fa-lg"></i>
            <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-lg"></i></a></li>
            <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-lg"></i></a></li>
            <li><a href="https://www.reddit.com" target="_blank"><i class="fab fa-reddit-alien fa-lg"></i></a></li>
            <li><a href="https://www.tumblr.com" target="_blank"><i class="fab fa-tumblr fa-lg"></i></a></li>
        </ul>
    </div>    
</div>
<div class="spacer">
    &nbsp;
</div>